@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
  background-color: #101828;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --drop-shadow-custom-blue: 5px 5px 5px rgb(24, 140, 241);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-start-rgb: #2e2e2e;
    --background-end-rgb: #2e2e2e;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.image-profile {
  max-width: 300px;
  max-height: 300px;
}

.image-profile > img {
  border-radius: 50%;
  border: 5px solid white;
}

.hidesidebar {
  height: 15000px;
  width: 300px;
  z-index: 10;
  padding: 28px;
}
