@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: white;
  --background-start-rgb: #2e2e2e;
  --background-end-rgb: #2e2e2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-start-rgb: #2e2e2e;
    --background-end-rgb: #2e2e2e;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image-profile {
  max-width: 300px;
  max-height: 300px;
}

.image-profile > img {
  border-radius: 50%;
  border: 5px solid white;
}
