.projectCard {
  width: 300px;
  border: 2px solid rgb(237, 167, 3);
  border-radius: 10px;
}

.projectCard > a > img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.cardBody {
  margin: 10px;
}

.cardBody > h2 {
  font-size: 24px;
}

.cardBody > p {
  color: rgb(193, 193, 193);
  margin-top: 10px;
  font-size: 14px;
}

.tech > p {
  border: 1px solid green;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 12px;
}

.links > a {
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 14px;
}

.tech,
.links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* .links {
  justify-content: space-between;
} */
